#edit-container {
    color: black;
    width: 360px;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: #ffeae7c6;
    border: 1px solid black;
}

#edit-container h1 {
    text-align: center;
    padding-top: 15px;
    color: black;
}

#edit-container form {
    width: 300px;
    margin-left: 20px;
}

#edit-container form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

#edit-container form input {
    width: 320px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
    background-color: whitesmoke;
}

#edit-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#edit-container form textarea {
    width: 320px;
    height: 200px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
    background-color: whitesmoke;
    resize: none;
}

#edit-container input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}
