.login-box {
    color: rgb(2, 2, 2);
    width: 360px;
    height: 330px;
    margin: auto;
    margin-top: 4%;
    background-color: #ffeae7c6;
    border: 1px solid rgb(255, 255, 255);

  }
  
  .login-box h1 {
    color: white;
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    margin-top: 10px;
    text-align: center;
  }
  
  form {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  form input {
    width: 320px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
  }
  
  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(129, 126, 126);
    color: white;
    font-size: 15px;
  }
  
  .login-box p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  
  .login-box p > a {
    color: black;
  }

  .bold{
    font-weight: bold;
  } 
  